<a href="https://colab.research.google.com/github/GeorgeShmelin/Masterschool_projects/blob/main/G_Shmelin_mini_project_SQL__2024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In comparison with Beekeper, in Google Colab YEAR and some other numbers became floats rather than ints

### Installing and importing packages

In [ ]:
import pandas as pd
import sqlalchemy as sa

### Making a connection

In [ ]:
unicorn_url = "postgresql://Test:bQNxVzJL4g6u@ep-noisy-flower-846766-pooler.us-east-2.aws.neon.tech/Unicorn"

In [ ]:
engine = sa.create_engine(unicorn_url)
connection = engine.connect().execution_options(isolation_level="AUTOCOMMIT")

### Schema

<https://www.notion.so/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F39f4e1ea-dafa-4b9f-943b-583ed4217bb6%2FScreenshot_2023-02-09_at_14.24.03.png?table=block&id=f350b415-21df-47d9-94b0-f77307ff376a&cache=v2>

### Tasks

1. How many customers do we have in the data?

In [ ]:
query = """
select
   count(*) as number_of_customers
from customers;
"""
pd.read_sql(sa.text(query),connection)

   number_of_customers
0                  795

2 ) What was the city with the most profit for the company in 2015?

3) (In 2015, what was the most profitable city's profit?)

In [ ]:
query = """
SELECT shipping_city,
	SUM(order_profits) AS citys_profit

FROM order_details
INNER JOIN orders USING (order_id)
WHERE EXTRACT (year FROM order_date) = 2015
GROUP BY shipping_city
ORDER BY SUM(order_profits) DESC
LIMIT 1
;
"""
pd.read_sql(sa.text(query),connection)

   shipping_city  citys_profit
0  New York City       14753.0

4) How many different cities do we have in the data?

In [ ]:
query = """
SELECT COUNT(DISTINCT shipping_state)
FROM orders;
"""
pd.read_sql(sa.text(query),connection)

   count
0     49

5) Show the total spent by customers from low to high

In [ ]:
query = """
WITH customers_orders AS (
	SELECT customer_id,
	    order_id,
  	    order_sales
	FROM order_details
	INNER JOIN orders USING (order_id)
)

SELECT customer_id,
	SUM(order_sales) AS customer_spent
FROM customers_orders
GROUP BY customer_id
ORDER BY SUM(order_sales)
;
"""
pd.read_sql(sa.text(query),connection)

     customer_id  customer_spent
0            456             5.0
1            738             5.0
2            546            16.0
3            124            17.0
4            657            22.0
..           ...             ...
788          758         14596.0
789          623         15117.0
790          388         16744.0
791          731         19050.0
792          687         25042.0

[793 rows x 2 columns]

6) What is the most profitable city in the State of Tennessee?

In [ ]:
query = """
SELECT shipping_city,
	SUM(order_profits) AS citys_profit

FROM order_details
INNER JOIN orders USING (order_id)

WHERE shipping_state = 'Tennessee'

GROUP BY shipping_city
ORDER BY SUM(order_profits) DESC
LIMIT 1
;
"""
pd.read_sql(sa.text(query),connection)

  shipping_city  citys_profit
0       Lebanon          83.0

7) What’s the average annual profit for that city across all years?

/* I am fully convinced that with WINDOW FUNCTION this code should be my shorter and nice, but I only yesterday first time saw RANC ( ) and I am not enough confident to use it here*/

In [ ]:
query = """
WITH the_city AS (SELECT shipping_city
FROM (
 	SELECT shipping_city,
		SUM(order_profits) AS citys_profit

	FROM order_details AS od
	INNER JOIN orders AS o USING (order_id)

	WHERE shipping_state = 'Tennessee'

	GROUP BY shipping_city
	ORDER BY SUM(order_profits) DESC
	LIMIT 1
) AS citys_name),

citys_orders_join AS (
  SELECT *
	FROM the_city
	LEFT JOIN orders ON the_city.shipping_city = orders.shipping_city
),

citys_orders AS (
  SELECT *
	FROM citys_orders_join
	LEFT JOIN order_details ON citys_orders_join.order_id = order_details.order_id
)

SELECT
EXTRACT (year FROM order_date) AS year,
AVG(order_profits) AS avg_annual_profit
FROM citys_orders
GROUP BY year
;
"""
pd.read_sql(sa.text(query),connection)

     year  avg_annual_profit
0  2016.0                6.0
1  2017.0               18.0
2  2018.0               59.0

8) What is the distribution of customer types in the data?

In [ ]:
query = """
WITH customers_orders AS (
  SELECT customer_id,
  	COUNT(order_id) AS oredrs_number
  FROM orders
  GROUP BY customer_id
)

SELECT
	CASE
  	WHEN oredrs_number = 1 THEN 'shopped once'
    WHEN oredrs_number = 2 THEN 'shopped twice'
    WHEN oredrs_number <= 5 THEN 'shops often'
    WHEN oredrs_number > 5 THEN 'recurring customer'
    ELSE 'other'
  END AS customer_group,
  COUNT(customer_id) AS customers_number
FROM customers_orders
GROUP BY customer_group
;
"""
pd.read_sql(sa.text(query),connection)

       customer_group  customers_number
0        shopped once                12
1       shopped twice                34
2  recurring customer               465
3         shops often               282

9) What’s the most profitable product category on average in Iowa across all years?

In [ ]:
query = """
WITH category AS (
  SELECT
  	EXTRACT (year FROM order_date) AS year,
  	product_category,
		AVG(order_profits) AS category_profit
	FROM order_details
	INNER JOIN orders USING (order_id)
	LEFT JOIN product USING (product_id)

	WHERE shipping_state = 'Iowa'

	GROUP BY year, product_category
  ORDER BY year, category_profit DESC
)

SELECT year, product_category, category_profit
FROM category
ORDER BY year, category_profit DESC
;
"""
pd.read_sql(sa.text(query),connection)

     year product_category  category_profit
0  2015.0        Furniture       107.000000
1  2015.0  Office Supplies         3.000000
2  2016.0        Furniture       394.000000
3  2016.0       Technology        77.000000
4  2016.0  Office Supplies        10.000000
5  2017.0       Technology        95.000000
6  2017.0  Office Supplies        19.500000
7  2018.0       Technology        52.000000
8  2018.0  Office Supplies        15.846154
9  2018.0        Furniture        10.000000

/* Here, I have failed to separate only 1 top ‘product_category’ across each year. In each year I am getting a couple of top categories. I guess RANC ( ) should do the job well.

For only 1 top ‘product_category’ across all given years, the code
*/

In [ ]:
query = """
WITH category AS (
  SELECT
  	EXTRACT (year FROM order_date) AS year,
  	product_category,
		AVG(order_profits) AS category_profit
	FROM order_details
	INNER JOIN orders USING (order_id)
	LEFT JOIN product USING (product_id)

	WHERE shipping_state = 'Iowa'

	GROUP BY year, product_category
  ORDER BY year, category_profit DESC
)

SELECT product_category, category_profit
FROM category
ORDER BY category_profit DESC
LIMIT 1
;
"""
pd.read_sql(sa.text(query),connection)

  product_category  category_profit
0        Furniture            394.0

10) What is the most popular product in that category across all states in 2016?

In [ ]:
query = """
WITH category AS (
  SELECT
  	EXTRACT (year FROM order_date) AS year,
  	product_category,
		AVG(order_profits) AS category_profit
	FROM order_details
	INNER JOIN orders USING (order_id)
	LEFT JOIN product USING (product_id)

	WHERE shipping_state = 'Iowa'

	GROUP BY year, product_category
  ORDER BY year, category_profit DESC
)

SELECT
	product_id,
  product_name,
  COUNT(order_id) AS order_number

FROM product AS p
LEFT JOIN order_details AS od USING (product_id)
LEFT JOIN orders AS o USING (order_id)

WHERE EXTRACT (year FROM o.order_date) = 2016 AND
	product_category = ( SELECT product_category
	FROM category
	LIMIT 1)

GROUP BY product_id
ORDER BY order_number DESC
LIMIT 1

"""
pd.read_sql(sa.text(query),connection)

   product_id                                       product_name  order_number
0         168  Atlantic Metals Mobile 3-Shelf Bookcases, Cust...             4

11) Which customer got the most discount in the data? (in total amount)

In [ ]:
query = """
WITH discout_orders AS (
SELECT
od_discount.order_id AS discounted_order,
od_order.order_sales AS orders_ammount,
od_discount.order_discount AS discount_percent
FROM order_details AS od_order
JOIN order_details AS od_discount USING (order_id)
WHERE od_discount.order_discount > 0
),
discount_ammount AS (
SELECT
discounted_order,
orders_ammount * discount_percent AS discount_size
FROM discout_orders
)
SELECT
customer_id,
ROUND(SUM(discount_size)) AS full_discounts_ammount
FROM discount_ammount
LEFT JOIN orders AS o ON o.order_id = discount_ammount.discounted_order
GROUP BY customer_id
ORDER BY full_discounts_ammount DESC
LIMIT 1
;
"""
pd.read_sql(sa.text(query),connection)

   customer_id  full_discounts_ammount
0          687                 48579.0

12) How widely did monthly profits vary in 2018?

In [ ]:
query = """
SELECT
	EXTRACT (MONTH FROM order_date) AS month_2018,
  MIN(order_profits) AS min_monthly_profit,
  MAX(order_profits) AS max_monthly_profit,
  MAX(order_profits) - MIN(order_profits) AS monthly_dif
FROM order_details
LEFT JOIN orders USING (order_id)
WHERE EXTRACT (year FROM order_date) = 2018
GROUP BY month_2018
;
"""
pd.read_sql(sa.text(query),connection)

    month_2018  min_monthly_profit  max_monthly_profit  monthly_dif
0          1.0             -1141.0              2504.0       3645.0
1          2.0              -427.0               459.0        886.0
2          3.0              -320.0              6720.0       7040.0
3          4.0             -3400.0              1265.0       4665.0
4          5.0              -458.0              1050.0       1508.0
5          6.0              -320.0              1668.0       1988.0
6          7.0              -449.0               840.0       1289.0
7          8.0             -1238.0              1453.0       2691.0
8          9.0             -1144.0               884.0       2028.0
9         10.0             -1307.0              3920.0       5227.0
10        11.0             -3840.0              5040.0       8880.0
11        12.0             -2929.0              1008.0       3937.0

13) Which was the biggest order regarding sales in 2015?

In [ ]:
query = """
SELECT
	order_id,
  MAX(order_sales) AS biggest_order

FROM order_details
LEFT JOIN orders USING (order_id)
WHERE EXTRACT (year FROM order_date) = 2015

GROUP BY order_id
ORDER BY biggest_order DESC
LIMIT 1
;

"""
pd.read_sql(sa.text(query),connection)

         order_id  biggest_order
0  CA-2015-145317          22638

14)  What was the rank of each city in the East region in 2015 in quantity?
— —  For this code’s line 1st time used Chat GPT - great experience

In [ ]:
query = """
SELECT
    ROW_NUMBER() OVER (ORDER BY SUM(quantity) DESC) AS rank,


    shipping_city,
    SUM(quantity) AS citys_purch
FROM
    order_details
LEFT JOIN
    orders USING (order_id)
WHERE
    EXTRACT(year FROM order_date) = 2015
    AND shipping_city IS NOT NULL
    AND shipping_region = 'East'

GROUP BY
    shipping_city
ORDER BY
    citys_purch DESC;
"""
pd.read_sql(sa.text(query),connection)

    rank  shipping_city  citys_purch
0      1  New York City       1708.0
1      2   Philadelphia        403.0
2      3       Columbus        167.0
3      4         Newark         64.0
4      5      Fairfield         53.0
5      6     Long Beach         44.0
6      7       Lakewood         38.0
7      8      Lancaster         36.0
8      9       Lawrence         31.0
9     10          Dover         30.0
10    11     Hackensack         28.0
11    12         Bangor         24.0
12    13          Utica         24.0
13    14         Lowell         23.0
14    15        Yonkers         22.0
15    16     Wilmington         21.0
16    17        Clinton         20.0
17    18      Baltimore         20.0
18    19       Cranston         20.0
19    20        Everett         19.0
20    21     Providence         19.0
21    22        Buffalo         19.0
22    23         Medina         16.0
23    24        Meriden         15.0
24    25        Beverly         15.0
25    26   New Rochelle         14.0
26    27        Bristol         14.0
27    28      Hempstead         12.0
28    29      Cleveland         12.0
29    30      Rochester         12.0
30    31         Toledo         12.0
31    32      Watertown         12.0
32    33        Chester         11.0
33    34           Troy         11.0
34    35       Franklin         11.0
35    36          Akron         10.0
36    37        Clifton          9.0
37    38      Jamestown          9.0
38    39        Concord          9.0
39    40       Columbia          8.0
40    41         Lorain          8.0
41    42       Hamilton          8.0
42    43     Cincinnati          8.0
43    44          Mason          7.0
44    45   Mount Vernon          7.0
45    46         Linden          7.0
46    47        Reading          6.0
47    48         Revere          6.0
48    49           Kent          5.0
49    50      Oceanside          5.0
50    51    Springfield          5.0
51    52         Orange          4.0
52    53          Parma          4.0
53    54  Niagara Falls          3.0
54    55     Plainfield          3.0
55    56         Marion          3.0
56    57  Bowling Green          2.0
57    58       Freeport          2.0
58    59     Middletown          2.0
59    60     Woonsocket          2.0

15) Display customer names for customers who are in the segment ‘Consumer’ or ‘Corporate.’
How many customers are there in total?

In [ ]:
query = """
SELECT customer_name AS customer_names,
 (SELECT
  	COUNT(DISTINCT customer_id)
	FROM customers) AS full_number_of_companies_customers

FROM customers

WHERE customer_segment IN ('Consumer', 'Corporate')
;
"""
pd.read_sql(sa.text(query),connection)

         customer_names  full_number_of_companies_customers
0         Aaron Bergman                                 795
1         Aaron Hawkins                                 795
2        Aaron Smayling                                 795
3             Adam Hart                                 795
4    Adam Shillingsburg                                 795
..                  ...                                 ...
642      Yoseph Carroll                                 795
643    Zuschuss Carroll                                 795
644  Zuschuss Donatelli                                 795
645        Zack Gibbens                                 795
646         Loren Bowen                                 795

[647 rows x 2 columns]

16)  Calculate the difference between the largest
and smallest order quantities for product id ‘100.’

In [ ]:
query = """
SELECT
	MAX(quantity) - MIN(quantity) AS bigest_dif

FROM product
INNER JOIN order_details USING (product_id)
WHERE product_id = 100
;
"""
pd.read_sql(sa.text(query),connection)

   bigest_dif
0           4

17)  Calculate the percent of products that are within the category ‘Furniture.’

In [ ]:
query = """
WITH numbers AS (SELECT
	(SELECT COUNT(DISTINCT product_id)
	FROM product
	WHERE product_category = 'Furniture')::numeric AS furn_number,

  (SELECT COUNT(DISTINCT product_id) FROM product) AS all_product_number
FROM product
)

SELECT
	ROUND((furn_number * 100) / all_product_number, 2) AS percent_of_furn

FROM numbers
LIMIT 1
;
"""
pd.read_sql(sa.text(query),connection)

   percent_of_furn
0            20.54

18)  Display the number of product manufacturers with more than 1 product in the product table.

In [ ]:
query = """
WITH manufacturer_number AS (
  SELECT product_manufacturer,
  	COUNT(DISTINCT product_id)
  FROM product
  GROUP BY product_manufacturer
  HAVING COUNT(product_id) > 1
)

SELECT COUNT(DISTINCT product_manufacturer) AS manufacturers_number
FROM manufacturer_number;
"""
pd.read_sql(sa.text(query),connection)

   manufacturers_number
0                   169

19)  Show the product_subcategory and the total number of products in the subcategory.
Show the order from most to least products and then by product_subcategory name ascending.

In [ ]:
query = """
WITH number_of_product AS (
  SELECT DISTINCT product_subcategory,
  	COUNT(product_id) AS number_of_pr_in_subCat
  FROM product
  GROUP BY product_subcategory
),

products AS (
  SELECT product_id,
  	product_name,
  	product_subcategory
  FROM product
)

SELECT *
FROM number_of_product
INNER JOIN products USING (product_subcategory)

ORDER BY number_of_pr_in_subCat DESC, product_subcategory
;
"""
pd.read_sql(sa.text(query),connection)

,product_subcategory,number_of_pr_in_subcat,product_id,product_name
0,Paper,277,1569,"TOPS ""Important Message"" Pads, Canary, 4-1/4 x..."
1,Paper,277,1568,Things To Do Today Spiral Book
2,Paper,277,1567,Things To Do Today Pad
3,Paper,277,1532,Telephone Message Books with Fax/Mobile Sectio...
4,Paper,277,1531,Telephone Message Books with Fax/Mobile Sectio...
...,...,...,...,...
1845,Copiers,13,372,Brother DCP1000 Digital 3 in 1 Multifunction M...
1846,Copiers,13,798,Hewlett Packard LaserJet 3310 Copier
1847,Copiers,13,797,Hewlett Packard 610 Color Digital Copier / Pri...
1848,Copiers,13,796,Hewlett Packard 310 Color Digital Copier
1849,Copiers,13,406,Canon PC940 Copier

20) Show the product_id(s), the sum of quantities,
where the total sum of its product quantities is greater than or equal to 100.

In [ ]:
query = """
WITH quantities AS (
  SELECT
		product_id,
    SUM(quantity) AS sum_of_quantities

	FROM product
	LEFT JOIN order_details USING (product_id)

	GROUP BY product_id
)

SELECT *
FROM quantities
WHERE sum_of_quantities >= 100
ORDER BY sum_of_quantities DESC
;
"""
pd.read_sql(sa.text(query),connection)

   product_id  sum_of_quantities
0        1507              539.0
1         122              295.0
2        1600              221.0
3        1501              170.0
4         920              155.0
5         538              150.0
6        1216              132.0
7         812              109.0